//mixins ( used for reusable blocks of Codes)

@mixin banner {
	width: 100%;
	position: relative;
	color: white;
	.banner-content {
		position: absolute;
		top: 50px;
		width: 100%;
	}
	img {
		width: 100%;
	}
	span {
		font-size: $bannerHeading;
		display: block;
		text-transform: uppercase;
		font-weight: bold;
	}
	span.title {
		font-weight: normal;
		margin-bottom: 30px;
	}
}

@mixin clearFix {
	//adding pseudo classes (Clear fix rule)
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

//passing Variables to arguments
@mixin grid($cols, $mgn) {
	float: left;
	width: ((100% - (($cols - 1) * $mgn)) / $cols);
	margin-right: $mgn;
	margin-bottom: $mgn;
	&:nth-child(#{$cols}n) {
		margin-right: 0;
	}
}
